{
    ".CodeMirror.vim-mode.normal-mode textarea": {
        "ctrl-[": "vim:reset-normal-mode"
    }
    ".CodeMirror.vim-mode.insert-mode textarea": {
        "ctrl-[": "vim:exit-insert-mode"
    },
    ".CodeMirror.vim-mode.replace-mode textarea": {
        "ctrl-[": "vim:exit-insert-mode"
    },
    ".CodeMirror.vim-mode.visual-mode textarea": {
        "ctrl-[": "vim:exit-visual-mode"
    }
}
